*{
  margin: 0;
  padding: 0;
  /* font-family: "montserrat",sans-serif; */
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.App {
  /* text-align: center; */
  height: 200vh;
  /* max-height: 100%; */
  /* background-color: #e77a7a; */
  /* background-color: #df8b8b; */
  background-color: #fcc0c0;
  margin-top: 0%;
  /* position: fixed; */
  width: 100%;  
}

.title{
  padding-top: 20px;
  margin-left: 5rem;
  font-size: xxx-large;
}

.todoInput{
  margin-top: 1rem;
  margin-left: 5rem;
  font-size: x-large;
  margin-bottom: 1rem;
  /* width: 5rem; */
}

.form{
  border-radius: 10px;
  font-size: large;
  padding: 15px;
  /* width: 9rem; */
  padding-left: 0;
}

.input{
  border-radius: 5px;
  font-size: large;
  padding: 9px;
  width: 14rem;
  height: 1.7rem;
}

.inputButton{
  margin-left: 0.7rem;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: large;
  /* background-color: #df6a6a; */
  background-color: #ff6262;
  position: relative;
}

.todoList{
  /* align-items: center; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.todoItem{
  /* padding: 5px;
  background-color: white;
  opacity: 0.8; */
  margin-right: 2rem;
  margin-left: 5rem;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 20rem; */
  background-color: #ffffff;
  opacity: 0.5;
  margin-top: 1rem;
  border-radius: 5px;
  max-height: 3.4rem;
  /* max-width: 22.5rem; */
  padding: 2px;
  width: 21rem;
  height: 2.9rem;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  font-weight: bold;
}

.editButton{
  /* margin-left: 1rem; */
  /* margin-right: 1px; */
  /* display: none; */
  /* border-radius: 1px; */
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
  background-color: white;
  
}

.editTodo{
  /* align-items: center;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-right: .5rem;
  padding: 3px; */
  padding: 9px;
  margin-left: 4rem;
  margin-right: auto;
}

.formItem{
  width: 10rem;
  padding: 11px;
  background-color: #fcd7d7;
}

.deleteButton{
  /* margin-left: 1rem; */
  margin-right: 8px;
  /* border-radius: 1px; */
  /* background-color: white;
  color: black; */
}

.icons{
  /* display: flex; */
  /* margin-left: 1rem; */
  /* justify-content: space-between; */
  display: flex-end;
}



